version: '3'
services:
  db:
    image: postgres:18
    container_name: postgres-app
    restart: always
    environment:
      POSTGRES_USER: arbitrageedge
      POSTGRES_PASSWORD: arbitrageedgepassword
      POSTGRES_DB: arbitrage_db
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql

  cache:
    image: redis:8.6.0
    container_name: redis-app
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data:
